body {
    overflow-y: scroll;
}

.alert-no-margin {
    margin-left: 0;
    margin-right: 0;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
}

.valign-middle {
    vertical-align: middle;
}

.vspacer {
    margin-bottom: 1.5em;
}

.logo-big {
    height: 200px;
    width: 200px;
    margin-right: 2em;
}

.logo-small {
    height: 150px;
    width: 150px;
    margin-right: 1em;
}

.custom-control-indicator {
    width: 20px;
    height: 20px;
}

.custom-checkbox .custom-control-indicator {
    border-radius: 100%;
}